@font-face {
    font-family: calc;
    src: url('fonts/digital-7.ttf');
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f8fcfb;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: 'Raleway', serif;
    font-size: 30px;
    color: #484c61;
    word-spacing: -0.15em;
    font-weight: 300;
}

h1 span {
    font-weight: 900;
}

#main {
    display: block;
    vertical-align:top;
    width: 305px;
    height: 315px;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    background: linear-gradient(#9dd2ea, #8bceec);
    border-radius: 3px;
    box-shadow: 0px 4px #51869E, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

#left {
    float: left;
    padding: 10px;
}

#panel {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}

#panel h4, #panel span {
    margin: 0;
}

#right {
    float: right;
}

#display {
    font-family: calc, sans-serif;
    color: white;
    height: 170px;
    width: 280px;
    margin: 0 auto 15px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}

#displayTitle {
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    height:10px;
}

#displayTimer {
    text-align: center;
    font-size: 48px;
    height:50px;
    margin-bottom: 10px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#sessionLength, #breakLength{
    font-family: 'Assistant', sans-serif;
}

.buttons {
    width: 288px;
    height: 50px;
    margin: 0 auto;
}

.button {
    font-family: 'Roboto', serif;
    float: left;
    position: relative;
    top: 0;
    cursor: pointer;
    width: 89px;
    height: 36px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    margin: 0 7px 11px 0;
    color: #888;
    line-height: 36px;
    text-align: center;
    -webkit-user-select: none;
    transition: all 0.2s ease;
}

.button:hover {
    background: #f26969 !important;
    box-shadow: 0px 4px #A61D1D !important;
    color: white;
}

.button:active {
    box-shadow: 0 0 #717a33 !important;
    top: 4px !important;
}

.set {
    font-family: 'Roboto', serif;
    float: left;
    position: relative;
    top: 0;
    padding: 10px;
    cursor: pointer;
    width: 65px;
    height: 60px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    margin: 0 7px 11px 0;
    color: #888;
    line-height: 15px;
    text-align: center;
    -webkit-user-select: none;
    transition: all 0.2s ease;
}

.symbol {
    font-size: 30px;
}

.word {
    font-size: 12px;
}

.set:hover {
    background: #f26969 !important;
    box-shadow: 0px 4px #A61D1D !important;
    color: white;
}

.set:active {
    box-shadow: 0 0 #717a33 !important;
    top: 4px !important;
}